<%- include('../layouts/head') %>
<div class="member-count">
    <h2 class="member-online"></h2>
</div>
    <div class="chat-box">
        
        <div class="chat-messages" id="chat-messages">
            
        </div>
        <div class="chat-input">
            <input type="text" placeholder="Type your message..." id='input-messege'>
            <button id="btn-send">Send</button>
        </div>
    </div>

<%- include('../layouts/foot') %>

