<%- include('../layouts/head') %>
<div class="login-container">
    <h2>Login</h2>
    <div class="login-form">
        <input type="text" id="username" placeholder="Insert Name">
        <button class="submit" id="submit">Submit</button>
    </div>
</div>

<%- include('../layouts/foot') %>